<%= content_for :page_title, "Home" %>
<div class="container text-center">
  <h1 class="display-4">Welcome to my Blog!</h1>
  <br>
  <p>Click here to see the articles: <%= link_to 'Articles', controller: 'articles' %>.</p>
</div>
